.carousel-wrapper {
    border-radius: $carousel-border-radius;
    .picsum-img-wrapper {
        height: $carousel-img-height;
        img {
            object-fit: cover;
        }
    }

    .carousel-text-wrapper {
        background: linear-gradient(to right, #0D0F14 55%, transparent);
        border-radius: $carousel-border-radius;
        .carousel-text {
            margin: 53px 0 0 53px;

            .crtext {
                font-size: $carousel-font-size;
                font-weight: bold;
            }

            .truncate-overflow {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                width: 100%;
                overflow: hidden;
            }

            .crtext-role {
                font-size: $carousel-font-size;
                font-weight: bold;
                background: -webkit-linear-gradient(right, #2D6DD5, #35B5C8);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-stroke: 2.5px transparent;
                color: #0D0F14;
            }

            .btn {
                width: 204px;
                height: 50px;
                margin-top: 40px;
                background: linear-gradient(270.17deg, #2D6DD5 1.37%, #35B5C8 99.86%);
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .cards:nth-last-child(-n+3) {
        display: none;
    }

    .carousel-wrapper {
        // height: 250px;
        margin: 0 30px;

        .picsum-img-wrapper {
            height: 250px
        }

        .carousel-text-wrapper {
            height: 100%;
            width: 90%;

            .carousel-text {

                .truncate-overflow {
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    width: 100%;
                    overflow: hidden;
                    font-size: 20px;

                }

                .crtext,
                .crtext-role {
                    font-size: 25px;
                    font-weight: 400;
                }

                .btn {
                    margin-top: 20px;
                    width: 190px;
                    height: 40px;
                }
            }
        }



    }


}

@include media-breakpoint-down(sm) {
    .carousel-wrapper {
        // height: 250px;
        margin: 0 30px;

        .picsum-img-wrapper {
            height: 250%
        }

        .carousel-text-wrapper {
            height: 100%;
            width: 90%;

            .carousel-text {
                margin: 25px 0 0 25px;

                .truncate-overflow {
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    width: 100%;
                    overflow: hidden;
                    font-size: 20px;

                }

                .crtext,
                .crtext-role {
                    font-size: 20px;
                    font-weight: 400;
                }

                .description {
                    display: none;
                }

                .btn {
                    margin-top: 15px;
                    width: 180px;
                    height: 45px;
                }
            }

        }
    }
}