<!-- header -->
<nav class="navbar  bg-white shadow-sm fixed-top ">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center w-100">
            <!-- brand logo -->
            <a href="" class="d-flex align-items-center logo">
                <img src="../../../../assets/images/1rhythmlogo.png" alt="">
                <span class="fs-4 fw-semibold text-dark ms-2 mb-0 logo-text ">1Rhythm</span>
            </a>
            <!-- menu-icon for responsive -->
            <label for="headerInput" class="d-block d-md-none ">
                <img src="../../../../assets/images/menu.svg" width="20px" alt="">
            </label>
            <input type="checkbox" class="d-none" id="headerInput">
            <div class="flex-grow-1 justify-content-between align-items-md-center" id="toggleHeader" >
                <!-- nav-list -->
                <div class="d-flex  mx-md-auto mx-0  " >
                    <ul class="nav  flex-md-row flex-column nav-list-item">
                        <!-- nav-item home-->
                        <li class="nav-item">
                            <!-- nav-link home-->
                            <a href="" class="nav-link d-flex align-items-center " routerLink="home">
                                <!-- nav-icon-home-->
                                <span class="icon-Home me-2 header-icon "></span>
                                <!-- nav-text-home -->
                                <span class="nav-text ">Home</span>
                            </a>
                        </li>
                        <!-- nav-item studio-->
                        <li class="nav-item ">
                            <!-- nav-link -->
                            <a href="" class="nav-link d-flex align-items-center ">
                                <!-- nav-icon-studio-->
                                <span class="icon-Studios me-2 header-icon "></span>
                                <!-- nav-text-studio -->
                                <span class="nav-text">Studio</span>
                            </a>
                        </li>
                        <!-- nav-item artists-->
                        <li class="nav-item ">
                            <!-- nav-link -->
                            <a href="" class="nav-link d-flex align-items-center ">
                                <!-- nav-icon-artists-->
                                <span class="icon-Group me-2 header-icon "></span>
                                <!-- nav-text-artists -->
                                <span class="nav-text">Artists</span>
                            </a>
                        </li>
                        <!-- nav-item booking history-->
                        <li class="nav-item ">
                            <!-- nav-link -->
                            <a href="" class="nav-link d-flex align-items-center ">
                                <!-- nav-icon-booking history-->
                                <span class="icon-Group-1 me-2 header-icon "></span>
                                <!-- nav-text-booking history -->
                                <span class="nav-text">Booking History</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- profile -->
                <div class=" d-flex align-items-start">
                    <!-- searchbar -->
                    <div class="form-group has-search position-relative me-4 ">
                        <input type="text" placeholder="Search" class="ms-3 search-input">
                        <span class="bi bi-search search-icon "></span>
                    </div>
                    <div ngbDropdown display="dynamic" placement="bottom-end" class="d-inline-block ">
                        <div class="rounded-circle image overflow-hidden " type="button" id="manageProfileDropdown"
                            ngbDropdownToggle>
                            <!-- profile-image -->
                            <img src="../../../../assets/images/marco-bicca-Z8Rf8EVS2Wc-unsplash 1.png"
                                class=" img-fluid profile-image " alt="">
                        </div>
                        <div class="border-0 shadow-sm " ngbDropdownMenu aria-labelledby="manageProfileDropdown">
                            <!-- dropdown-menu -->
                            <li class="item px-3 py-1 ">Username</li>
                            <li class="item px-3 py-1">
                                <div class="form-switch p-0 d-flex align-items-center justify-content-between">
                                    <label class="form-check-label cursor-pointer"
                                        for="flexSwitchCheckDefault">Available</label>
                                    <input class="form-check-input m-0 " type="checkbox" role="switch"
                                        id="flexSwitchCheckDefault">
                                </div>
                            </li>
                            <li class="item px-3 py-1">
                                Manage Profile
                            </li>

                            <li class="item px-3 py-1">
                                Manage Studio Profile
                            </li>
                            <li class="item px-3 py-1">Manage Artist Profile</li>
                            <li class="item px-3 py-1">Log Out</li>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</nav>