.image {
  height: 40px;
  width: 40px;
}

.header-icon {
  height: 16px;
}

.menu {
  transition: 0.2s ease-in-out;
}

.menu ul {
  padding: 0;
  margin: 0;
}

.menu ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 24px;
}

.main-wrapper {
  margin-right: 80px;
  margin-left: 80px;
}

@media (max-width: 576px) {

  .menu ul li {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  // .main-wrapper {
  //   margin-left: 0px;
  //   margin-right: 0px;
  // }

  .nav-text {
    display: none;
  }
}

@media (max-width:768px) {
  
  .main-wrapper {
    margin-left: 0px;
    margin-right: 0px;
   
  }
  .menu ul li {
    display: block;
    text-align: center}
}
